<html>
  <head>
    <title>Flask Prototype Blog</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div>Flask Prototype Blog
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_authenticated %}
        | <a href="{{ url_for('profile') }}">Profile</a>
        | <a href="{{ url_for('logout') }}">Log Out</a>
        | <a href="{{ url_for('add_post') }}">Add Post</a>
      {% else %}
        | <a href="{{ url_for('signup') }}">Sign Up</a>
        | <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
      <form action="{{ url_for('search_posts') }}" method="post" name="search" >
        {{ g.search_form.hidden_tag() }}
        {{ g.search_form.search(size=20) }}
        <input type="submit" value="Search">
      </form>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
