<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Blog</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background: #f6f7f9;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ url_for('index') }}">
            Portfolio Blog
          </a>

          <ul class="nav">
            <form action="{{ url_for('search_posts') }}" method="post" class="navbar-search pull-left">
              {{ g.search_form.hidden_tag() }}
              {{ g.search_form.search(class_="search-query", placeholder="Search") }}
            </form>
          </ul>

          {% if current_user.is_authenticated %}
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('manage_tags') }}">Manage Tags</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <i>{{ current_user.login }}</i></p>
          {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="{{ url_for('login') }}"><i class="icon-user icon-white"></i> Login</a></li>
            </ul>
          {% endif %}

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
