{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <form class="form-signin" action="" method="post">
      <h2 class="form-signin-heading">Login</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert alert-error">
            {% for category, message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {{ form.hidden_tag() }}

      <div class="control-group {% if form.login.errors %}error{% endif %}">
        {{ form.login(placeholder="Login") }}
        <span class="help-inline">
          {{ form.login.errors[0] }}
        </span>
      </div>

      <div class="control-group {% if form.password.errors %}error{% endif %}">
        {{ form.password(placeholder="Password") }}
        <span class="help-inline">
          {{ form.password.errors[0] }}
        </span>
      </div>

      <label class="checkbox">
        {{ form.remember_me }}{{ form.remember_me.label }}
      </label>

      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
{% endblock %}
