{% extends "layout.html" %}

{% block content %}
  <div class="post-form">
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="control-group {% if form.title.errors %}error{% endif %}">
        {{ form.title(placeholder='Post Title') }}
        <span class="help-inline">
          {{ form.title.errors[0] }}
        </span>
      </div>
      <p></br></p>

      <div class="control-group {% if form.content.errors %}error{% endif %}">
        {{ form.content(placeholder='Post Content') }}
        <span class="help-inline">
          {{ form.content.errors[0] }}
        </span>
      </div>
      <p></br></p>

      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
{% endblock %}
