{% extends "base.html" %}

{% block content %}
  {% for post in posts.items %}
    <table>
      <tr>
        <td>{{ post.title|truncate(60) }}</td>
        <td>{{ post.title|truncate(60) }}</td>
        <td>{{ post.title|truncate(60) }}</td>
      </tr>
      <tr>
        <td>{{ post.title|truncate(60) }}</td>
        <td>{{ post.title|truncate(60) }}</td>
        <td>{{ post.title|truncate(60) }}</td>
      </tr>
    </table>
    <div class="post table-bordered">
      <div class="">
        <h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title|truncate(60) }}</a></h2>
        <p>{{ post.datetime }}</p>
        {{ post.content|truncate(200) }}</br>
        by: <i>{{ post.author.login }}</i>
      </div>
    </div>
  {% endfor %}
  {% if posts.has_prev %}
    <a href="{{ url_for('profile', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
  {% else %}
    &lt;&lt; Newer posts
  {% endif %}
  {% if posts.has_next %}
    <a href="{{ url_for('profile', page=posts.next_num) }}">Older posts &gt;&gt;</a>
  {% else %}
    Older posts &gt;&gt;
  {% endif %}
{% endblock %}
